@import "tailwindcss";

@source "../../resources/**/*.blade.php";
@source "../../resources/**/*.js";
@source "../../resources/**/*.vue";

@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
}
